
// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/circular/font.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 30px;
$mainFont: 'Circular Pro', Helvetica, sans-serif;
$headingFont: 'Circular Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.5em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


.reveal .slides>section,
.reveal .slides>section>section {
	line-height: 1.3;
	font-weight: inherit;
	text-align:left;
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img{
	border:none;
	box-shadow:none;
}

.reveal section ul{

	margin-bottom:1.5em;
	padding-left:.5em;
list-style: none;

li:before{
	content:"–";
	position:relative;
	margin-left: -20px; /* optional, for multiline li element */
	left: -10px;
}

}
 
.reveal blockquote {
	width:auto;
	box-shadow: none;
	padding:0 2em 0 2em;
	em{
		font-weight:bold;
	}
}

.reveal section{
	
	 height:100%;
}
.reveal section iframe{
	width:100%;
	height:100%;
}
